<configuration>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <pattern>%-5level %logger{5} T:%X{traceId} - %msg%n</pattern>
            <layout class="io.elastic.sailor.impl.BunyanJsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>

    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>