version: 2.1
executors:
  docker:
    docker:
      - image: cimg/base:stable
jobs:
  # audit:
  #   working_directory: ~/sailor-jvm
  #   executor: docker
  #   docker:
  #     - image: amazoncorretto:17-alpine-jdk
  #   steps:
  #     - checkout
  #     - run:
  #         name: Audit Dependencies
  #         command: ./gradlew dependencyCheckAnalyze
  test:
    parameters:
      jdk-version:
        type: string
    working_directory: ~/sailor-jvm
    executor: docker
    docker:
      - image: << parameters.jdk-version >>
      - image: rabbitmq:3.8.3
    steps:
      - checkout
      - run:
          name: Run Tests
          command: TERM=${TERM:-dumb} ./gradlew clean test
      - store_test_results:
          path: build/reports
  test_and_build_snapshot:
    executor: docker
    docker:
      - image: amazoncorretto:17-alpine-jdk
    working_directory: ~/sailor-jvm
    steps:
      - checkout
      - run: |
          TERM=${TERM:-dumb} ./gradlew shadowJar
      - store_artifacts:
          path: ~/sailor-jvm/build/libs
  test_and_build_release:
    executor: docker
    docker:
      - image: amazoncorretto:17-alpine-jdk
    working_directory: ~/sailor-jvm
    steps:
      - checkout
      - run: |
          TERM=${TERM:-dumb} ./gradlew publishToMavenLocal
      - store_artifacts:
          path: ~/sailor-jvm/build/libs/
workflows:
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      # - audit:
      #     name: "Audit dependencies"
  build_snapshot:
    jobs:
      # - audit
      - test:
          matrix:
            parameters:
              jdk-version: [  "amazoncorretto:8-alpine-jdk", "amazoncorretto:11-alpine-jdk", "amazoncorretto:17-alpine-jdk" ]
      - test_and_build_snapshot:
          requires:
            - test
          filters:
            branches:
              ignore: master
  build_release:
    jobs:
      # - audit:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
      - test:
          matrix:
            parameters:
              jdk-version: [  "amazoncorretto:8-alpine-jdk", "amazoncorretto:11-alpine-jdk", "amazoncorretto:17-alpine-jdk" ]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
      - test_and_build_release:
          requires:
            - test
          filters:
            branches:
              only: master
            tags:
              only: /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/